#$ vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
    paths:
        - inc/
    ignoreErrors:

# See full example in phpstan-full.neon
